/* Coolors Exported Palette - https://coolors.co/cc5803-d5996b-825965-2f195f-43701f-dddad2-232c33-cc912d */

/* CSS HEX */
--tawny: #cc5803ff;
--buff: #d5996bff;
--rose-taupe: #825965ff;
--russian-violet: #2f195fff;
--fern-green: #43701fff;
--timberwolf: #dddad2ff;
--gunmetal: #232c33ff;
--harvest-gold: #cc912dff;

/* CSS HSL */
--tawny: hsla(25, 97%, 41%, 1);
--buff: hsla(26, 56%, 63%, 1);
--rose-taupe: hsla(342, 19%, 43%, 1);
--russian-violet: hsla(259, 58%, 24%, 1);
--fern-green: hsla(93, 57%, 28%, 1);
--timberwolf: hsla(44, 14%, 85%, 1);
--gunmetal: hsla(206, 19%, 17%, 1);
--harvest-gold: hsla(38, 64%, 49%, 1);

/* SCSS HEX */
$tawny: #cc5803ff;
$buff: #d5996bff;
$rose-taupe: #825965ff;
$russian-violet: #2f195fff;
$fern-green: #43701fff;
$timberwolf: #dddad2ff;
$gunmetal: #232c33ff;
$harvest-gold: #cc912dff;

/* SCSS HSL */
$tawny: hsla(25, 97%, 41%, 1);
$buff: hsla(26, 56%, 63%, 1);
$rose-taupe: hsla(342, 19%, 43%, 1);
$russian-violet: hsla(259, 58%, 24%, 1);
$fern-green: hsla(93, 57%, 28%, 1);
$timberwolf: hsla(44, 14%, 85%, 1);
$gunmetal: hsla(206, 19%, 17%, 1);
$harvest-gold: hsla(38, 64%, 49%, 1);

/* SCSS RGB */
$tawny: rgba(204, 88, 3, 1);
$buff: rgba(213, 153, 107, 1);
$rose-taupe: rgba(130, 89, 101, 1);
$russian-violet: rgba(47, 25, 95, 1);
$fern-green: rgba(67, 112, 31, 1);
$timberwolf: rgba(221, 218, 210, 1);
$gunmetal: rgba(35, 44, 51, 1);
$harvest-gold: rgba(204, 145, 45, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);
$gradient-right: linear-gradient(90deg, #cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);
$gradient-bottom: linear-gradient(180deg, #cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);
$gradient-left: linear-gradient(270deg, #cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);
$gradient-top-right: linear-gradient(45deg, #cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);
$gradient-bottom-right: linear-gradient(135deg, #cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);
$gradient-top-left: linear-gradient(225deg, #cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);
$gradient-bottom-left: linear-gradient(315deg, #cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);
$gradient-radial: radial-gradient(#cc5803ff, #d5996bff, #825965ff, #2f195fff, #43701fff, #dddad2ff, #232c33ff, #cc912dff);